.grayed {
  color: gray;
  transition: 0.2s;
}

.grayed:hover {
  color: red;
}

.itemBox {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  /* min-height: 100vh; */
}

.itemBox p {
  font-size: 1.6em;
  margin: 0;
}

.itemBox h1 {
  flex-basis: 100%;
  margin: 0;
}

.itemBox hr {
  margin: 0;
}

.numberIn {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.numField {
  font-size: 1em;
  width: 1.75em;
}

/* just gonna borrow the slider css from the desc files since it wont change */
.prkBox {
  display: flex;
}

.white {
  color: gainsboro;
  transition: 0.2s;
}

.white:hover {
  color: red;
}

.slider {
  background: gold;
  width: 100%;
}

/* we cant have nice things */
.slider::-webkit-slider-thumb {
  background: black;
  border-color: gold;
  border-width: 3px;
  cursor: pointer;
  height: 4vh;
}

.slider::-moz-range-thumb {
  background: black;
  border-color: gold;
  border-width: 3px;
  cursor: pointer;
  height: 4vh;
}
