.grayed {
  color: gray;
  transition: 0.2s;
}

.grayed:hover {
  color: red;
}

.numberIn {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.numField {
  font-size: 1em;
  width: 1.75em;
}

.white {
  color: gainsboro;
  transition: 0.2s;
}

.white:hover {
  color: red;
}

.slider {
  background: gold;
  width: 100%;
}

/* we cant have nice things */
.slider::-webkit-slider-thumb {
  background: black;
  border-color: gold;
  border-width: 3px;
  cursor: pointer;
  height: 4vh;
}

.slider::-moz-range-thumb {
  background: black;
  border-color: gold;
  border-width: 3px;
  cursor: pointer;
  height: 4vh;
}
