.app {
  background: rgb(40, 40, 40);
  background: linear-gradient(rgba(40, 40, 40, 1) 0%, rgba(50, 50, 50, 1) 100%);
  color: gainsboro;
  /* margin-bottom: 10vh; */
  min-height: 100vh;
  /* padding-bottom: 10vh; */
}

/* @media only screen and (max-height: 900px) {
  .app {
    padding-bottom: 5vh;
  }
}

@media only screen and (max-height: 800px) {
  .app {
    padding-bottom: 15vh;
  }
}

@media only screen and (max-height: 400px) {
  .app {
    padding-bottom: 25vh;
  }
} */

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 15vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.footer {
  background: rgb(40, 40, 40);
  background: linear-gradient(rgba(30, 30, 30, 1) 0%, rgba(40, 40, 40, 1) 100%);
  bottom: 0;
  border-top: gainsboro solid 1px;
  font-size: max(2em);
  overflow-x: auto;
  position: fixed;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
  width: 100%;
  white-space: pre;
}

.footer a,
span {
  overflow-x: auto;
  padding-left: 1.5vw;
}

.footerLink {
  color: gainsboro;
  transition: 0.2s;
}

.footerLink:hover {
  color: red;
}

img {
  border-right: solid 1px gainsboro;
  max-height: 1em;
  padding-right: 1.5vw;
}
