#auno {
  align-self: center;
  color: orange;
  font-size: 1.5em;
  padding-top: 0.3vw;
  padding-left: 0.3vw;
}

#auno:hover {
  color: orangered;
}

.crit {
  max-width: 25vw;
}
/* classnames shortened to make weapon data entry easier */
.g {
  color: gold;
  font-weight: bold;
}

.header {
  display: flex;
}

.legend {
  color: red;
  font-size: 0.6em;
  padding-left: 0.5rem;
}

#legend {
  font-size: 1.5em;
}

.r {
  color: red;
  font-weight: bold;
}

.statsTable {
  color: whitesmoke;
  font-size: 1.5em;
  min-width: 50%;
}

.statsTable span {
  padding-left: 0.2em;
}

.statsTable td {
  padding: 1vh;
  min-width: 50%;
}

.statsTable tr:nth-child(even) {
  background-color: rgb(80, 80, 80);
}

#PRK {
  align-self: center;
  color: magenta;
  font-size: 1.5em;
  margin-left: 0.1em;
  padding-top: 0.3vw;
  padding-left: 0.3vw;
  text-decoration: underline;
  user-select: none;
}

/* slider switch */
.switch {
  align-self: center;
  margin-left: 1em;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderPRK {
  padding-left: 0;
  width: 60px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderPRK.round {
  border-radius: 34px;
}

.sliderPRK.round:before {
  border-radius: 50%;
}

.sliderPRK:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: gainsboro;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .sliderPRK:before {
  background-color: magenta;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .sliderPRK {
  background-color: rgb(100, 100, 100);
}

/* blurb */
.bsBox {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  padding: 0.5rem;
}

.bsLink {
  color: red;
}

.ohNo {
  padding: 4px;
}
