.aboutLink {
  color: magenta;
}

.blurb {
  font-size: 1.5em;
  margin-bottom: 1vh;
}

hr {
  width: 100%;
}

.policyLink {
  color: whitesmoke;
  font-size: 1.5em;
  transition: 0.2s;
}

.policyLink:hover {
  color: red;
}
