.roulButton {
  font-size: 1.5em;
}

.roulCheck {
  height: 2em;
  margin-left: 1em;
  width: 2em;
}

.roulLock {
  border-left: 1px solid gainsboro;
  margin-left: 0.5em;
}

.rulesText {
  font-size: 1.5em;
}
