.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

h1 {
  margin-bottom: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  row-gap: 1vh;
}

.Homelink {
  color: #61dafb;
}

.footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.blurb {
  max-width: 80vw;
  text-align: left;
}

.select {
  display: flex;
  gap: 1vw;
}

.grayed {
  color: gray;
}

.white {
  color: white;
}

.select A {
  color: #61dafb;
}
