.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

h1 {
  margin-bottom: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  row-gap: 1vh;
}

.Homelink {
  color: #61dafb;
  padding: 4px;
}

.Homelinknospac {
  color: #61dafb;
  padding-top: 4px;
  padding-bottom: 4px;
}

.footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.blurb {
  max-width: 80vw;
  text-align: left;
}

.select {
  display: flex;
  gap: 1vw;
}

.grayed {
  color: gray;
}

.white {
  color: white;
}

.select A {
  color: #61dafb;
}

.slider {
  width: 80vw;
  appearance: none;
  background: yellow;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  background: black;
  height: 4vh;
  border-color: yellow;
  border-width: 3px;
}

.slider::-moz-range-thumb {
  background: black;
  height: 4vh;
  border-color: yellow;
  border-width: 3px;
}

.redBold {
  color: red;
  font-weight: bold;
}

.whiteBold {
  color: white;
  font-weight: bolder;
}

.goldBold {
  color: gold;
  font-weight: bold;
}

.statsTable tr:nth-child(even) {
  background-color: #424957;
}

.statsTable {
  border-width: 2px;
  border-color: white;
  width: 80vw;
}

.statsTable td {
  padding: 1vh;
  width: 50%;
}

.legend {
  background-color: gray;
  border-radius: 50%;
  font-size: large;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ohNo {
  padding: 4px;
}

.bsBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-left: 2em;
}
