.select {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  text-wrap: nowrap;
}

.select a {
  color: gainsboro;
  font-size: 2em;
  transition: 0.2s;
}

.select a:hover {
  color: red;
}
